In [ ]:
import pandas as pd
df=pd.read_csv("D:/daily-session-task/13-01-2025/ipl.csv")
print(df.columns.tolist())

['team1', 'team2', 'match_date', 'toss_winner', 'toss_decision', 'winner', 'player_of_match', 'venue', 'city', 'team1_players', 'team2_players', 'season', 'match_number', 'match_type', 'result', 'result_margin', 'target_runs', 'target_overs', 'super_over']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169 entries, 0 to 1168
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team1            1169 non-null   object
 1   team2            1169 non-null   object
 2   match_date       1169 non-null   object
 3   toss_winner      1169 non-null   object
 4   toss_decision    1169 non-null   object
 5   winner           1146 non-null   object
 6   player_of_match  1169 non-null   object
 7   venue            1169 non-null   object
 8   city             1118 non-null   object
 9   team1_players    1169 non-null   object
 10  team2_players    1169 non-null   object
 11  season           1169 non-null   int64
 12  match_number     1169 non-null   int64
 13  match_type       1169 non-null   object
 14  result           1169 non-null   object
 15  result_margin    1146 non-null   float64
 16  target_runs      1163 non-null   float64
 17  target_overs     1163 non-null   float64
 18  super_over       1169 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 173.6+ KB

In [10]:
null_count=df.isnull().sum()
print(null_count)

team1               0
team2               0
match_date          0
toss_winner         0
toss_decision       0
winner             23
player_of_match     0
venue               0
city               51
team1_players       0
team2_players       0
season              0
match_number        0
match_type          0
result              0
result_margin      23
target_runs         6
target_overs        6
super_over          0
dtype: int64

In [14]:
print(df.describe())

            season  match_number  result_margin  target_runs  target_overs
count  1169.000000   1169.000000    1146.000000  1163.000000   1163.000000
mean      9.687767     33.359281      17.364747   167.253654     19.768014
std       5.253100     19.430749      21.919255    34.222771      1.542583
min       1.000000      1.000000       1.000000    43.000000      5.000000
25%       5.000000     17.000000       6.000000   147.000000     20.000000
50%      10.000000     33.000000       8.000000   167.000000     20.000000
75%      15.000000     49.000000      20.000000   188.000000     20.000000
max      18.000000     76.000000     146.000000   288.000000     20.000000